.App-Register-Row {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.App-Register-Row input {
    padding: 5px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
}

.App-Register-Row button {
    padding: 5px;
    margin: 5px;
    width: 100%;
}